USE [master]
GO
/****** Object:  Database [examenCRUD]    Script Date: 23/01/2021 23:46:07 ******/
CREATE DATABASE [examenCRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'examenCRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\examenCRUD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'examenCRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\examenCRUD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [examenCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [examenCRUD]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/01/2021 23:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 23/01/2021 23:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [int] NOT NULL,
	[des_producto] [varchar](50) NULL,
	[precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 23/01/2021 23:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Empresa] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsuariosSesion]    Script Date: 23/01/2021 23:46:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UsuariosSesion](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[IsLogged] [int] NOT NULL,
	[tipo] [int] NOT NULL,
 CONSTRAINT [PK_UsuariosSesion] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Cliente] ([id_cliente], [Nombre]) VALUES (0, N'Default')
INSERT [dbo].[Producto] ([id_producto], [des_producto], [precio]) VALUES (0, N'default', 0)
INSERT [dbo].[Producto] ([id_producto], [des_producto], [precio]) VALUES (2, N'Jabón', 25)
INSERT [dbo].[Producto] ([id_producto], [des_producto], [precio]) VALUES (3, N'Servilletas', 39)
INSERT [dbo].[Proveedor] ([id_proveedor], [Nombre], [Telefono], [Empresa]) VALUES (0, N'Default', N'0', N'Default')
SET IDENTITY_INSERT [dbo].[UsuariosSesion] ON 

INSERT [dbo].[UsuariosSesion] ([id_usuario], [usuario], [password], [IsLogged], [tipo]) VALUES (6, N'Melita', N'1234', 0, 0)
INSERT [dbo].[UsuariosSesion] ([id_usuario], [usuario], [password], [IsLogged], [tipo]) VALUES (8, N'cajero0012', N'123', 0, 1)
SET IDENTITY_INSERT [dbo].[UsuariosSesion] OFF
USE [master]
GO
