<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <sessionState mode="InProc" cookieless="true">
      </sessionState>
    <!--<authentication mode="Forms">
      <forms loginUrl="Login.aspx" name="SecurityCookie" timeout="15" slidingExpiration="true" />
    </authentication>-->
    <!--<sessionState timeout="15" mode="InProc" />-->
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <connectionStrings>
    <!--<add name="examenCRUDEntities" connectionString="metadata=res://*/App_Code.DB.csdl|res://*/App_Code.DB.ssdl|res://*/App_Code.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=examenCRUD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="examenCRUDEntities1" connectionString="metadata=res://*/App_Code.DB.csdl|res://*/App_Code.DB.ssdl|res://*/App_Code.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=examenCRUD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="examenCRUDEntities2" connectionString="metadata=res://*/App_Code.BaseDatos.csdl|res://*/App_Code.BaseDatos.ssdl|res://*/App_Code.BaseDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=examenCRUD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="examenCRUDEntities3" connectionString="metadata=res://*/App_Code.BaseDatos.csdl|res://*/App_Code.BaseDatos.ssdl|res://*/App_Code.BaseDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MELY-PC;initial catalog=examenCRUD;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="examenCRUDEntities4" connectionString="metadata=res://*/App_Code.DB.csdl|res://*/App_Code.DB.ssdl|res://*/App_Code.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MELY-PC;initial catalog=examenCRUD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="examenCRUDEntities5" connectionString="metadata=res://*/App_Code.DB.csdl|res://*/App_Code.DB.ssdl|res://*/App_Code.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=examenCRUD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="examenCRUDEntities5" connectionString="metadata=res://*/App_Code.DB.csdl|res://*/App_Code.DB.ssdl|res://*/App_Code.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=examenCRUD;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>